<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{user.first_name}} {{user.last_name}}</h1>
    <a href="/recipes/home">Back to Recipes</a>
    <a href="/logout">Logout</a>
    <form action="/update-recipe/{{recipe.id}}" method="post">
        <h2>Add a New Recipe</h2>
        <div>
            <label for="name">Recipe Name: </label>
            <input type="text" name="name" id="name" placeholder={{recipe.name}}>
        </div>
        <div>
            <label for="description">Description: </label>
            <textarea name="description" id="description" cols="30" rows="10">{{recipe.description}}</textarea>
        </div>
        <div>
            <label for="instruction">Instruction: </label>
            <textarea name="instruction" id="instruction" cols="30" rows="10">{{recipe.instruction}}</textarea>
        </div>
        <div>
            <label for="time30">are you able to make this in under 30 minutes </label>
            <input type="radio" name="time30" id="time30_choice1" value="1">
            <label for="time30_choice1">Yes</label>
            <input type="radio" name="time30" id="time30_choice2" value="0">
            <label for="time30_choice1">No</label>
        </div>
        <div>
            <label for="date">When was this Recipe Made</label>
            <input type="date" name="date" id="date" value="date">
        </div>
        <input type="submit" value="Update Recipe">
    </form>
</body>
</html>