<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucess</title>
</head>
<body>
    <h1>what you entered</h1>
    <p>you entered your name as: {{session["name"]}}</p>
    <p>you entered your location as: {{session["location"]}}</p>
    <p>you entered your language as: {{session["language"]}}</p>
    <p>you entered your comment as: {{session["comments"]}}</p>
</body>
</html>