*{
    font-family: 'Courier New', Courier, monospace;
}

/* navbar */

.navbar{
    display: flex;
    background-color: #333;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    margin-top: -10px;
    padding-left: 20px;
}

/* heading */

.Heading{
    margin-left: 33%;
}

/* creating columns */

.row{
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.col1{
    flex: 1;
}

.col2{
    flex: 6;
}

/* Creating Posts  */
.container{
    border: 5px solid black;
    padding: 20px;
    margin: 10px;
}

.topRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnLike{
    width: 80px;
    padding: 6px;
    background-color: rgb(243, 255, 134);
    color: black;
    box-shadow: 4px 3px 0px 0px rgba(0,0,0,0.75);
}

/* profile Section */

.profilePic{
    border-radius: 50%;
    background-color: #fff;
    height: 150px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}