*{
    font-family: 'Courier New', Courier, monospace;
}
/* navbar */
.navbar{
    background-color: grey;
    width: 60%;
    margin: 0 auto;
}

.navcontainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.search{
    width: 500px;
}

/* Hero Section */
.row{
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.col1{
    flex: 2;
}

.col2{
    flex: 1;
}

.container{
    border: 5px solid black;
    margin: 20px;
    padding: 10px;
}

.rowInner{
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.colA{
    flex: 1;
}

.colB{
    flex: 2;
}

.btn{
    padding: 6px;
    background-color: blue;
    color: #fff;
    box-shadow: 4px 3px 0px 0px rgba(0,0,0,0.75);
}

.btnLikes{
    width: 80px;
    padding: 6px;
    background-color: rgb(243, 255, 134);
    color: black;
    box-shadow: 4px 3px 0px 0px rgba(0,0,0,0.75);
}

.btnAdd{
    width: 200px;
    padding: 6px;
    background-color: rgb(134, 255, 184);
    color: black;
    box-shadow: 4px 3px 0px 0px rgba(0,0,0,0.75);
}