<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Band</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='create_edit_band.css') }}">
</head>
<body>
    <div class="navbar">
        <h1>Rock On {{user.first_name}} {{user.last_name}}!!!!</h1>
        <a href="/mybands" class="navlink">My Bands</a>
        <a href="/dashboard"  class="navlink">Dashboard</a>
        <a href="/logout"  class="navlink logout">Logout</a>
    </div>
    <h2>Update Your Band</h2>

    <div class="error">
        {% with messages = get_flashed_messages(category_filter=['band']) %}

        {% if messages %}
    
        {%for message in messages %}
    
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="formarea">
        <form action="/update-band/{{band.id}}" method="post">
            <div>
                <label for="name">Band Name: </label>
                <input type="text" name="name" id="name" placeholder={{band.name}} value={{band.name}}>
            </div>
            <div>
                <label for="genre">Music Genre: </label>
                <input type="text" name="genre" id="genre" placeholder={{band.genre}} value={{band.genre}}>
            </div>
            <div>
                <label for="home">Home City: </label>
                <input type="text" name="home" id="home" placeholder={{band.home}} value={{band.home}}>
            </div>
            <input type="submit" value="update band" class="submit-btn">
        </form>
    </div>
</body>
</html>