<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bands</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='mybands.css') }}">
</head>
<body>
    <div class="navbar">
        <h1>Rock On {{user.first_name}} {{user.last_name}}!!!!</h1>
        <a href="/dashboard"  class="navlink">Dashboard</a>
        <a href="/logout"  class="navlink logout">Logout</a>
    </div>
    <h2>All of my bands</h2>
    {% for band in bands %}
    <h3>{{band.name}}</h3>
    <a href="/edit/{{band.id}}">Edit</a>
    <a href="/delete/{{band.id}}">Delete</a>
    {% endfor %}
</body>
</html>